<div id="create">
  <form role="form" id="contact-form" class="contact-form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
              <input type="text" class="form-control" name="tite" autocomplete="off" id="title" placeholder="Title...">
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
              <textarea class="form-control textarea" rows="3" name="body" id="body" placeholder="Body...."></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" id="send-btn" class="btn btn-success main-btn pull-right">Create New Post</button>
      </div>
    </div>
  </form>
</div>